$color_1: transparent;
$background-color_1: #2c3137;

.projectAd__container {
  margin-top: 70px;
  margin-left: 45px;
  margin-bottom: 72px;

  .projectAd__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    margin-right: 45px;
    h3 {
      font-weight: 800;
      font-size: 24px;
    }

    .projectAd__arrows {
      display: flex;
      gap: 1rem;
      cursor: pointer;
    }
  }

  .projectAd__carousel {
    cursor: grab;
    overflow: hidden;

    &Inner {
      display: flex;
      gap: 16px;

      .projectAd__item {
        box-sizing: border-box;
        width: 29%;
        min-width: 295px;
        padding: 17.5px 18.3px 17.3px 20.6px;
        border-radius: 24px;
        background-color: $background-color_1;

        .projectAd__top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 13px;

          &Images {
            position: relative;
            pointer-events: none;

            &1 {
            }

            &2 {
              position: absolute;
              left: 75%;
              top: 0;
            }

            &3 {
              position: absolute;
              left: 150%;
              top: 0;
            }
          }

          &Like {
            display: flex;
            align-items: center;
            font-size: 10.4px;
            font-weight: 600;
            gap: 4px;
          }
        }

        .projectAd__img {
          width: 100%;
          margin-bottom: 11px;
          pointer-events: none;
        }

        .projectAd__buttom {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .projectAd__detail {
            &Name {
              font-size: 15.5px;
              font-weight: 600;
              margin: 0;
            }

            &Price {
              font-size: 17.7px;
              font-weight: bold;
              background-image: linear-gradient(
                109deg,
                #43cbff 0%,
                #9708cc 100%
              );
              background-clip: text;
              color: $color_1;
            }
          }

          .smartchain {
            pointer-events: none;
          }
        }
      }
    }
  }
}





//MEDIA QUERY 1024px
@media screen and (max-width: 1024px) {
  .projectAd__title {
    h3 {
      font-size: 21px;
    }
  }

  .projectAd__arrows {
    display: none;
  }
  
  .projectAd__item {
    padding: 13px 15px;
    min-width: 220px;
  }

  .pojectAd__project1 {
    height: 23px;
    width: 23px;
  }

  .pojectAd__project2 {
    height: 23px;
    width: 23px;
  }

  .pojectAd__project3 {
    height: 23px;
    width: 23px;
  }

  .projectAd__like {
    img {
      width: 11px;
      height: 10px;
    }
    font-size: 8px;
  }

  .projectAd__detailName {
    font-size: 11.9px;
  }

  .projectAd__detailPrice {
    font-size: 14px;
    font-weight: 700;
  }

  .smartchain {
    height: 27px;
    width: 27px;
  }
}
