$background-color_1: #1e2329;

.votepage__container {
	display: flex;
}
.voteProject__page {
	width: 285.8px;
	height: 1100px;
	border-right: 1px solid rgba(255, 255, 255, .32);
	background-color: $background-color_1;
}
.voteProject__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 29px 15px 16px;
	border-bottom: 1px solid rgba(255, 255, 255, .32);
	margin-bottom: 6px;
}
.voteProject__titleH3 {
	font-size: 21px;
	font-weight: 800;
}
.addProjects {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 16px;
	font-weight: normal;
	cursor: pointer;
}
.voteContent__page {
	flex: 3;
}
.voteContent__zero {
	height: 95vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	p {
		margin: 0;
		margin-top: 16px;
		width: 35%;
		font-size: 18px;
		font-weight: normal;
		text-align: center;
	}
}
.voteNft__container {
	display: flex;
	align-items: center;
	gap: 25px;
	padding: 7px 21px;
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	margin-bottom: 8px;
}
.morehover {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 24px;
	width: 24px;
	border: 2px solid #fff;
	border-radius: 50%;
	cursor: pointer;
	img {
		width: 18px;
	}
}
@media screen and (max-width: 1024px) {
	.voteProject__page {
		height: 1900px;
	}
}
