.timeline__area {
    margin: 90px auto;
    width: 500px;
    border-left: 2px solid #68F588;
    padding: 0 40px;
}

.timeline__event {
    background-color: #2c3137;
    box-shadow: 0 24px 50px 0 rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    margin-bottom: 72px;
    height: 260px;
    position: relative;
}

.timeline__event p {
    margin: 0;
    padding: 25px 32px 33px 33px;
    font-size: 16px;
    font-weight: 400;
}

.timeline__event:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #68f588;
    position: absolute;
    top: 30px;
    left: -49px;
}

.timeline__event:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #2c3137 transparent transparent;
    border-width: 15px;
    position: absolute;
    left: -29px;
    top: 24px;
}

.map__date {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 7px;
}

.map__h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}