.transactions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.transactions {
    width: 100%;
    margin-top: 24px;
}

.transaction {
    padding: 13.9px 13px 13.9px 13px;
    border-radius: 16px;
    background-color: #2c3137;
    display: flex;
    margin-bottom: 16px;
}

.transaction img {
    height: 24px;
    width: 24px;
    padding: 8px;
    border-radius: 50%;
    margin-right: 10px;
}

.transaction-amt {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.transaction-time {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}