$background-color_1: #2c3137;

/* .wallet__balance  */
.wallet__container {
  display: flex;
  margin: 50px 35px;
}
.wallet__content {
  flex: 2.5;
  margin-right: 32px;
}

.wallet {
  &__h3 {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 15px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 38.2px 51.8px 37.4px;
    border-radius: 24px;
    background-image: linear-gradient(
      107deg,
      #fe7b59 0%,
      #fe497a 48%,
      #fd169c 100%
    );
  }
}

.wallet__balance {
  &P {
    font-size: 21px;
    font-weight: 600;
    margin: 0;
  }
  H3 {
    font-size: 32px;
    font-weight: 800;
  }
}

.wallet__btc {
  display: flex;
  align-items: center;

  &Img {
    height: 32px;
    width: 32px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 8px;
  }

  &Amt {
    font-size: 21px;
    font-weight: 600;
  }
}

.wallet__btns {
  display: flex;
  gap: 16px;
}
.assets {
  margin-top: 42px;

  &__h3 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 32px;
  }
}

.asset__desc {
  background-color: $background-color_1;
  font-size: 16px;
  font-weight: 600;
  padding: 18px 26px;
  border-radius: 16px;
  box-shadow: 0 24px 50px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 24px;

  &Name {
    margin-right: 23%;
  }

  &Balance {
    margin-right: 13%;
  }

  &Change {
    margin-right: 15%;
  }

  &Price {
    .transaction__history {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

.transaction__heading {
  display: flex;
  align-items: center;
  h3 {
    font-size: 24px;
    font-weight: 800;
    margin-right: 10px;
  }
}



//MEDIA QUERY 1024px
@media screen and (max-width: 1024px) {
  .wallet__h3 {
    font-size: 24px;
  }
  .wallet__content {
    flex: 1.5;
    margin-right: 31px;
  }
  .wallet__box {
    padding: 35px 25px;
  }
  .wallet__balanceP {
    font-size: 16px;
    font-weight: 800;
  }
  .wallet__balanceH3 {
    font-size: 24px;
  }
  .wallet__btcImg {
    height: 24px;
    width: 24px;
  }
  .wallet__btcAmt {
    font-size: 18px;
  }
  .asset__descChange {
    display: none;
    display: none;
  }
  .asset__descName {
    margin-right: 27%;
  }
  .asset__descBalance {
    margin-right: 24%;
  }
  .transaction__heading {
    h3 {
      font-size: 18px;
    }
  }
}
