$color_1: #fff;
$background-color_1: #008a00;
$background-color_2: #35373e;
$background-color_3: #2793ff;
$background-color_4: #610bef;

.VotedProject__container {
  display: flex;
  margin: 55px 20px 50px 50px;
  position: relative;
}

.successful__popup {
  position: absolute;
  top: -4.7%;
  left: 7%;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
  border-radius: 100px;
  background-color: $background-color_1;
  img {
    width: 24px;
    height: 24px;
  }
  p {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
  }
}

.voteproject__page {
  flex: 3;
}
.added__project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 49px;

  &Details {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.added__projectImg {
  height: 100px;
  width: 100px;
}

.added__projectName {
  h3 {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 3px;
  }
  span {
    display: flex;
    align-items: center;
    img {
      height: 20px;
      width: 20px;
    }
  }
}

.added__projectRating {
  margin: 0;
  margin-left: 9px;
  font-size: 16px;
  font-weight: 600;
}

.addedProject__vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
  }
}

.voteThumb {
  border: solid 2px #2793ff;
  border-radius: 50%;
  margin-bottom: 6px;
  img {
    height: 32px;
    width: 32px;
    padding: 8px 10px;
  }
}

.voteform__input {
  margin-bottom: 58px;

  &Copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    width: fit-content;
    width: 380px;
    height: 48px;
    background-color: $background-color_2;
    border-radius: 8px;
  }
}

.vote__input {
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: $background-color_2;
  box-sizing: border-box;
  height: 48px;
  width: 310px;
  padding-left: 11px;
  font-size: 14px;
  font-weight: 500;
  color: $color_1;
  &::placeholder {
    font-size: 14px;
    font-weight: 500;
  }
}

.votecopy__icon {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: $background-color_3;
  cursor: pointer;
  img {
    height: 24px;
    width: 24px;
    padding: 0 13px;
  }
}

.voteAbout__project {
  margin-bottom: 8px;
  h3 {
    font-size: 21px;
    font-weight: 800;
    margin-bottom: 8px;
  }
  p {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 24px;
  }
}

.Votesocial__logos {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 45px;
  img {
    height: 42px;
    width: 42px;
  }
}

.voteNft__ad {
  box-sizing: border-box;
  padding-top: 32px;
  padding-left: 24px;
  height: 298px;
  border-radius: 24px;
  background-color: $background-color_4;
  background-image: url(../../../data/votead-bg.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  h3 {
    width: 270px;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
  }
  p {
    margin: 0;
    width: 270px;
    font-size: 14px;
    font-weight: normal;
  }
}



//MEDIA QUERY 1024px
@media screen and (max-width: 1024px) {
  .VotedProject__container {
    flex-direction: column;
    gap: 79.5px;
  }
  .voteproject__page {
    width: 77%;
  }
  .successful__popup {
    top: -2.65%;
  }
}
