$color_1: #fff;
$color_2: #2793ff;
$color_3: #2793ff;
$font-family_1: "sora", sans-serif;
$background-color_1: #2793ff;
$background-color_2: #4b5768;
$background-color_3: transparent;
$background-color_4: #2c3137;
$background-color_5: #fff;
$background-color_6: #474d57;
$background-color_7: #ffffff;

button {
  padding: 12px 16px;
  border-radius: 8px;
  color: $color_1;
  font-size: 14px;
  font-weight: 600;
  background-color: $background-color_1;
  font-family: $font-family_1;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(31, 118, 204, 0.4);
    transform: scale(1.01);
  }
  &:active {
    box-shadow: 0 4px 8px 0 rgba(31, 118, 204, 0.4);
    transform: scale(1.01);
  }
  &:focus {
    outline: none;
  }
}
.btn__stat {
  &:hover {
    transform: scale(1.03);
    box-shadow: none;
  }
  &:active {
    transform: scale(1.03);
    box-shadow: none;
  }
  margin-top: 38px;
  width: 100%;
  background-color: $background-color_2;
  border-radius: 12px;
}
.btn__vote.inactive {
  &:hover {
    transform: scale(1);
    box-shadow: none;
  }
  &:active {
    transform: scale(1);
    box-shadow: none;
  }
  background-color: $background-color_3;
}
.project__type-btn {
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transform: scale(1);
  }
  &:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transform: scale(1);
  }
  font-size: 18px;
  font-weight: 500;
  padding: 16px 20px;
  border-radius: 100px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: $background-color_2;
}
.btn-withdraw {
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  }
  &:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  }
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: $background-color_4;
  height: 44px;
  width: 140px;
}
.btn-deposit {
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  }
  &:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  }
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: $background-color_4;
  height: 44px;
  width: 140px;
  background-color: $background-color_5;
  color: $color_2;
}
.btn-status {
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  }
  &:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  }
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 24px;
  font-size: 16px;
  border: 1px solid #2793ff;
  border: solid 1px #fff;
  background-color: $background-color_3;
}
.btn-reward {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 45px;
  border-radius: 12px;
}
.btn-main--reward {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 10px;
  padding: 18px 48px;
}
.btn-dailytask {
  display: flex;
  align-items: center;
  gap: 11.5px;
}
.btn-suggest {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 24px;
  font-size: 16px;
  border: 1px solid #2793ff;
}
.btn-main--reward.crypto {
  margin: 35px auto;
}
.btn-review {
  margin-bottom: 41px;
}
.btn__vote {
  width: 190.2px;
}
.project__type-btn.active {
  background-color: $background-color_1;
}
.btn-suggestform {
  width: 100%;
  padding: 18px 48px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 24px;
}
.editProfile-upload-btn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  width: 155px;
}
.editProfile-reset-btn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  width: 155px;
  background-color: $background-color_6;
}
.updateSocial-btn {
  margin-top: 24px;
  width: 390px;
  font-size: 18px;
  font-weight: 600;
  padding: 18px 48px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(31, 118, 204, 0.4);
}
.ad-btn {
  padding: 12px 16px;
  border-radius: 8px;
  color: $color_3;
  font-size: 12px;
  font-weight: 800;
  background-color: $background-color_7;
  border: none;
  outline: none;
  box-shadow: 2px 4px rgba(31, 118, 204, 0.2);
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .withdraw-btn {
    width: 116px;
    height: 32px;
    font-size: 12px;
    font-weight: 700;
    img {
      height: 13.33px;
      width: 13.33px;
    }
  }
  .deposit-btn {
    width: 116px;
    height: 32px;
    font-size: 12px;
    font-weight: 700;
    img {
      height: 13.33px;
      width: 13.33px;
    }
  }
}
