.Referrals__container {
  border-radius: 24px;
  background-color: #2c3137;
  padding: 24px 30px;
  margin-top: 5px;
}

.referral__recent {
  margin-bottom: 30px;
}

.referral__time {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.referralItem {
  width: 511px;
  padding: 9px 20px 9px 16px;
  border-radius: 16px;
  background-color: #474d57;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.referralItem__details {
  display: flex;
  align-items: center;
  gap: 28px;
}

.referralItem__details img {
  height: 48px;
  width: 48px;
}

.referralItem__detail h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 2px;
}

.referral__name {
  color: #68f588;
}

.referralItem__detail p {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}

.referral__gem {
  display: flex;
  align-items: center;
  gap: 4px;
}

@media screen and (max-width: 1024px) {
  .referral__time {
    font-size: 21px;
  }
}