$color_1: #68f588;
$background-color_1: #2c3137;
$background-color_2: #474d57;

.Referrals__container {
	border-radius: 24px;
	background-color: $background-color_1;
	padding: 24px 30px;
	margin-top: 5px;
}

.referral__recent {
	margin-bottom: 20px;

	&Time {
		font-size: 24px;
	font-weight: 600;
	margin-bottom: 16px;
	}
}


.referralItem {
	width: 511px;
	padding: 9px 20px 9px 16px;
	border-radius: 16px;
	background-color: $background-color_2;
	margin-bottom: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__details {
		display: flex;
		align-items: center;
		gap: 28px;
		img {
			height: 48px;
			width: 48px;
		}
	}
}

.referralItem__detail {
	.referral__name {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 2px;
		color: $color_1;
	}
	p {
		margin: 0;
		font-size: 14px;
		font-weight: normal;
	}
}

.referral__gem {
	display: flex;
	align-items: center;
	gap: 4px;
}
@media screen and (max-width: 1024px) {
	.referral__time {
		font-size: 21px;
	}
}
