.ChangePassword-container {
    border-radius: 24px;
    padding-top: 34px;
    padding-bottom: 58px;
    padding-left: 34px;
    background-color: #2c3137;
    margin-top: 5px;
}

.ChangePassword-Input {
    display: flex;
    flex-direction: column;
    position: relative;
}

.ChangePassword-Input span {
    position: absolute;
    top: 42%;
    right: 3%;
    transform: translate(-58% -97%);
    cursor: pointer;
}

.passwordInput {
    padding: 16px  50px 16px  16px;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    border: solid 1px #474d57;
    background-color: #474d57;
    margin-top: 8px;
    margin-bottom: 24px;
}