.editProfile-container {
    margin-top: 5px;
    padding-top: 34px;
    padding-bottom: 58px;
    padding-left: 34px;
    border-radius: 24px;
    background-color: #2c3137;
}

.editprifile-navigation {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
}

.editprifile-navigation h3 {
    font-size: 21px;
    font-weight: 800;
}

.editprifile-navigation img {
    height: 24px;
    width: 24px;
}

.user-action {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 60px;
}

.editProfile-img {
    margin-right: 25px;
    height: 80px;
    width: 80px;
}

.editProfile-input {
    padding: 16px;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    border: solid 1px #474d57;
    background-color: #474d57;
    margin-top: 8px;
    margin-bottom: 24px;
}

.editProfile-upload-btn, .editProfile-reset-btn {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 14px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    width: 155px;
}

.editProfile-reset-btn {
    background-color: #474d57;
}

input::placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}