.projectAd-container {
    margin-top: 70px;
    margin-left: 45px;
    margin-bottom: 72px;
}

.projectAd-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    margin-right: 45px;
}

.projectAd-title h3 {
    font-weight: 800;
    font-size: 24px;
}

.projectAd-arrows {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.projectAd-carousel {
    cursor: grab;
    overflow: hidden;
}

.projectAd-inner-carousel {
    display: flex;
    gap: 16px;
}

.projectAd-item {
    box-sizing: border-box;
    width: 29%;
    min-width: 295px;
    padding: 17.5px 18.3px 17.3px 20.6px;
    border-radius: 24px;
    background-color: #2c3137;
}

.projectAd-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;
}

.projectAd-images {
    position: relative;
    pointer-events: none;
}

.pojectAd-project2 {
    position: absolute;
    left: 75%;
    top: 0;
}

.pojectAd-project3 {
    position: absolute;
    left: 150%;
    top: 0;
}

.projectAd-like {
    display: flex;
    align-items: center;
    font-size: 10.4px;
    font-weight: 600;
    gap: 4px;
}

.projectAd-img {
    width: 100%;
    margin-bottom: 11px;
    pointer-events: none;
}

.projectAd-buttom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projectAd-detail p {
    margin: 0;
}

.projectAd-name {
    font-size: 15.5px;
    font-weight: 600;
}

.projectAd-price {
    font-size: 17.7px;
    font-weight: bold;
    background-image: linear-gradient(109deg, #43cbff 0%, #9708cc 100%);
    background-clip: text;
    color: transparent;
}

.smartchain {
    pointer-events: none;
}

@media screen and (max-width: 1024px) {
    .projectAd-title h3 {
        font-size: 21px;
    }

    .projectAd-arrows {
        display: none;
    }

    .projectAd-item {
        padding: 13px 15px;
        min-width: 220px;
    }

    .pojectAd-project1, .pojectAd-project2, .pojectAd-project3 {
        height: 23px;
        width: 23px;
    }

    .projectAd-like img {
        width: 11px;
        height: 10px;
    }

    .projectAd-like {
        font-size: 8px;
    }

    .projectAd-name {
        font-size: 11.9px;
    }

    .projectAd-price {
        font-size: 14px;
        font-weight: 700;
    }

    .smartchain {
        height: 27px;
        width: 27px;
    }
}