.setting-container {
    margin: 45px;
}

.setting-inner {
    border: 1px solid blue;
    width: 80%;
}

.setting-h3 {
    font-size: 32px;
  font-weight: 800;
  margin-bottom: 25px;
}

.setting-title {
    display: flex;
    gap: 64px;
    padding: 23px;
  border-radius: 8px;
  background-color: #2c3137;
  margin-bottom: 28px;
  position: relative;
}

.setting-header p {
    margin: 0;
    font-size: 18px;
  font-weight: 600;
}

.setting-header hr {
    margin: 0;
}

.personal-info-line, .transaction-line, .user-line, .referral-line {
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: #2793ff;
    border: none;
    border-radius: 8px 8px 0 0;
}

.personal-info-line {
    width: 210px;
    left: 1%;
    transform: translateX(-1%);
}

.transaction-line {
    width: 200px;
    left: 395px;
    transform: translateX(-70%);
}

.user-line {
    width: 120px;
    left: 520px;
    transform: translateX(-30%);
}

.referral-line {
    width: 120px;
    left: 660px;
    transform: translateX(-30%);
} 

