.VotedProject-container {
    display: flex;
    margin: 55px 20px 50px 50px;
    position: relative;
}

.successful-popup {
    position: absolute;
    top: -4.7%;
    left: 7%;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 16px;
    border-radius: 100px;
    background-color: #008a00;
}

.successful-popup img {
    width: 24px;
    height: 24px;
}

.successful-popup p {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.voteproject-page {
    flex: 3;
}

.added-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 49px;
}

.addedProject-details {
    display: flex;
    align-items: center;
    gap: 16px;
}

.Addednft {
    height: 100px;
    width: 100px;
}

.addedProject-name h3 {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 3px;
}

.addedProject-name span {
    display: flex;
    align-items: center;
}

.addedProject-name span img {
    height: 20px;
    width: 20px;
}

.addedProject-rating {
    margin: 0;
    margin-left: 9px;
    font-size: 16px;
    font-weight: 600;
}

.addedProject-vote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.voteThumb {
    border: solid 2px #2793ff;
    border-radius: 50%;
    margin-bottom: 6px;
}

.voteThumb img {
    height: 32px;
    width: 32px;
    padding: 8px 10px;
}

.addedProject-vote p {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}

.voteform-input {
    margin-bottom: 58px;
}

.voteFormInput-copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    width: fit-content;
    width: 380px;
    height: 48px;
    background-color: #35373e;
    border-radius: 8px;
}

.vote-input {
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: #35373e;
    box-sizing: border-box;
    height: 48px;
    width: 310px;
    padding-left: 11px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.vote-input::placeholder {
    font-size: 14px;
    font-weight: 500;
}

.votecopy-icon {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #2793ff;
    cursor: pointer;
}

.votecopy-icon img {
    height: 24px;
    width: 24px;
    padding: 0 13px;
}

.voteAbout-project {
    margin-bottom: 8px;
}

.voteAbout-project h3 {
    font-size: 21px;
    font-weight: 800;
    margin-bottom: 8px;
}

.voteAbout-project p {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 24px;
}

.Votesocial-logos {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 45px;
}

.Votesocial-logos img {
    height: 42px;
    width: 42px;
}

.voteNft-ad {
    box-sizing: border-box;
    padding-top: 32px;
    padding-left: 24px;
    height: 298px;
    border-radius: 24px;
    background-color: #610bef;
}

.voteNft-ad h3 {
    width: 270px;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
}

.voteNft-ad p {
    margin: 0;
    width: 270px;
    font-size: 14px;
    font-weight: normal;
}

.vote-review {
    border-radius: 24px;
    background-color: #2c3137;
    flex: 1.8;
    margin-left: 16px;
}

.vote-review h3 {
    font-size: 21px;
    font-weight: 800;
    margin: 31px 0 18px 26px;
}

.votereview-item {
    padding: 16px;
    border-radius: 12px;
    background-color: #41464b;
    margin-bottom: 16px;
    margin-left: 12px;
    margin-right: 12px;
}

.votereview-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.votereview-username {
    font-weight: normal;
    font-size: 12px;
}

.votereview-time {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
}

.votereview-proper {
    font-weight: normal;
    font-size: 14px;
}