.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 6px;
}

.brand h3 {
    font-size: 20px;
    font-weight: 800;
}

.logo {
    height: 22px;
    width: 26px;
}

.sidebar-items {
    margin: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.links {
    margin-top: 25px;
}

.link-item {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 18px;
    padding-top: 16px;
    padding-left: 35px;
    padding-bottom: 16px;
    border-radius: 12px;
    cursor: pointer;
}

.link-item:hover {
    background: rgba(71, 77, 87, .3);
}

.link-item.active {
    background: #474D57;
}

.link-icon {
    height: 24px;
    width: 24px;
    opacity: .8;
}

.link-icon.active {
    opacity: 1;
}

.link-name {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    opacity: .8;
}



.sidebar_inner {
    position: relative;
    height: 100%;
}

/* 
use react scroll and rap the inner div */

/* .theme {
    position: absolute;
    bottom: 65px;
} */

@media screen and (max-width: 1024px) {

    .brand {
        margin: auto;
    }

    .brand h3 {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .link-item {
        box-sizing: border-box;
        width: 52px;
        height: 52px;
        margin: auto;
        padding: 10px;
        margin-bottom: 6px;
    }

    .link-icon {
        margin: auto;
    }

    .link-name {
        display: none;
    }


    .theme-toggle {
        box-sizing: border-box;
        justify-content: flex-start;
        margin: auto;
        margin-top: 30px;
        gap: 8px;
        height: 32px;
        width: 75px;
    }
    
    .dark-theme,
    .light-theme {
        padding: 0;
    }    

    .dark-theme {
        margin: 2px;
        width: 37px;
    }

    .dark-theme p,
    .light-theme p {
        display: none;
    }

    .moon,
    .sun {
        height: 16px;
        width: 16px;
        margin: auto;
    }

    .advert {
        display: none;
    }
}