/* 
use react scroll and rap the inner div */
/* .theme {
    position: absolute;
    bottom: 65px;
} */
.sidebar_inner {
  position: relative;
  height: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;

  &__brand {
    display: flex;
    align-items: center;
    gap: 6px;
    h3 {
      font-size: 20px;
      font-weight: 800;
    }

    &Logo {
      height: 22px;
      width: 26px;
    }
  }

  &__hamburger {
    cursor: pointer;
  }
}

.sidebar__items {
  margin: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  .links {
    margin-top: 25px;
  }
}

.links__item {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 18px;
  padding-top: 16px;
  padding-left: 35px;
  padding-bottom: 16px;
  border-radius: 12px;
  cursor: pointer;
  &:hover {
    background: rgba(71, 77, 87, 0.3);
  }

  &Icon {
    height: 24px;
    width: 24px;
    opacity: 1;

    &.active {
      opacity: 1;
    }
  }

  &Name {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.8;
  }
}





//MEDIA QUERY 1024px
@media screen and (max-width: 1024px) {
  .header__brand {
    margin: auto;
    h3 {
      display: none;
    }
  }
  .hamburger {
    display: none;
  }
  .links__item {
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    margin: auto;
    padding: 10px;
    margin-bottom: 6px;

    &Icon {
      margin: auto;
    }

    &Name {
      display: none;
    }
  }
  .link__icon {
    margin: auto;
  }
  .link__name {
    display: none;
  }

}