.UpdateSocial-container {
    margin-top: 5px;
    box-sizing: border-box;
    height: 560px;
    padding: 30px 40px;
    border-radius: 24px;
    background-color: #2c3137;
}

.updateSocial-inner {
    padding: 20px;
    padding-top: 0;
}

.followUs {
    margin: 0;
    margin-top: 0;
    font-weight: normal;
    font-size: 18px;
    width: 350px;
    margin-bottom: 10px;
}

.social-logos {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-bottom: 50px;
}

.social-logo {
    padding: 12px 11px;
    border-radius: 100px;
    background-color: #474d57;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.social-logo img {
    height: 18px;
    width: 22px;
}

.updatesocial-link {
    box-sizing: border-box;
    width: 467px;
    padding: 6.6px 18px 6.4px 8px;
    border-radius: 8px;
    background-color: #474d57;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.updatesocial-link span {
    display: flex;
    align-items: center;
    gap: 17px;
    font-size: 18px;
    font-weight: normal;
}

.update-link-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13.5px 12.5px;
    border-radius: 8px;
    background-color: #1e2329;
}

.update-link-img img {
    height: 17px;
    width: 21px;
}

.updateSocial-status {
    height: 32px;
    width: 32px;
}

.updateSocial-btn {
    margin-top: 24px;
    width: 390px;
    font-size: 18px;
    font-weight: 600;
    padding: 18px 48px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(31, 118, 204, 0.4);
}