$background-color_1: #68f588;
$background-color_2: #35373e;

.btc__prop {
  width: 45%;
  display: flex;
  flex-direction: column;

  .btc__name {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    &Logo {
      height: 64px;
      width: 64px;
      position: relative;
      margin-right: 16px;
      img {
        height: 100%;
        width: 100%;
      }

      &Online {
        position: absolute;
        height: 17px;
        width: 17px;
        border-radius: 50%;
        background-color: $background-color_1;
        border: 3px solid #1e2329;
        right: 2%;
        bottom: -7%;
        transform: translateX(-2%);
      }
    }
  }

  .bitcoin__name {
    margin-right: 9px;
    display: flex;
    align-items: center;
    h3 {
      font-size: 24px;
      font-weight: 800;
      margin-right: 9px;
    }

    &BTC {
      font-weight: normal;
      font-size: 13px;
      margin-right: 17px;
    }

    &ShareLogo {
      height: 13px;
      width: 12px;
    }
  }

  .rank1 {
    box-sizing: border-box;
    height: 20px;
    width: 35%;
    padding-left: 7px;
    padding-top: 2px;
    background-color: $background-color_2;
    border-radius: 8px;
    font-size: 10px;
    font-weight: 500;
    display: block;
    align-items: center;
    justify-content: center;
  }

  .btc__links {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;

    .btc__link {
      display: flex;
      align-items: center;
      background-color: $background-color_2;
      margin-right: 8px;
      margin-bottom: 16px;
      height: 28px;
      box-sizing: border-box;
      padding: 6px;
      border-radius: 8px;

      &Icon {
        margin-right: 4px;
        height: 16px;
        width: 16px;
      }
      &Name {
        margin-right: 10px;
        font-size: 12px;
        font-weight: 500;
      }
      &Arrow {
        cursor: pointer;
      }
    }
  }
}




//MEDIA QUERY 1024px
@media screen and (max-width: 1024px) {
  .btc__prop {
    margin-left: 77px;
    width: 35%;
  }
}
