/* .add-suggestion-container {
    border: 1px solid red;
} */

.add-suggestion-inner {
    margin: 50px 45px;
}

.featured-ads {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 29px;
}

.featured-ads-h3 {
    font-size: 32px;
    font-weight: 800;
}

.featured-ads-btns {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ad-boxes {
    display: flex;
    gap: 15px;
}

.ad-box-big {
    flex: 2;
    border-radius: 24px;
    background-color: #2793ff;
}

.big-box-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 38px;
    width: 50%;
}

.big-box-content h3 {
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 1rem;
}

.big-box-content p {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 1rem;
}

.ad-readmore-link {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 800;
    color: #fff;
}

.ad-box-small {
    flex: 1;
    box-sizing: border-box;
    width: 355px;
    height: 397px;
    padding: 32.6px 30px 0 0px;
    border-radius: 24px;
    background-color: #610bef;
}

.ad-box-small h3 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: .9rem;
    padding-left: 30px;

}

.ad-box-small p {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 5px;
    padding-left: 30px;
}

@media screen and (max-width: 1024px) {
    .featured-ads-h3 {
        font-size: 24px;
    }

    .status-btn,
    .suggest-btn {
        font-size: 14px;
    }

    .status-btn img,
    .suggest-btn img {
        height: 16px;
        width: 16px;
    }

    .ad-box-big {
        height: 275px;
    }

    .big-box-content {
        height: 0;
        width: 60%;
        margin-top: 110px;
    }

    .big-box-content h3 {
        font-size: 24px;
        
    }

    .ad-readmore-link, .big-box-content p, .ad-box-small p {
        font-size: 14px;
    }

    .ad-box-small {
        height: 289px;
    }

    .ad-box-small h3 {
        font-size: 21px;
    }
}