.metaverse-container {
    margin-left: 45px;
    margin-bottom: 72px;
}

.metaverse-carousel {
    overflow: hidden;
    cursor: grab;
}

.metaverse-inner-carousel {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.metaverse-item img {
    Width: 298px;
    Height: 369.78px;
    border-radius: 24px;
    margin-bottom: 16px;
    pointer-events: none;
}

.metaverse-item p {
    margin: 0;
    font-size: 18px;
    font-weight: 800;
}

@media screen and (max-width: 1024px) {
    .metaverse-item img {
        height: 273.6px;
        width: 220.5px;
    }

    .metaverse-item p {
        font-size: 14px;
    }
}