

.container {
  display: flex;
}

.body {
  width: 100%;
  overflow: hidden;
}

.sidebar {
  background: #2C3137;
  padding: 24px 18px;
  width: 256px;
  height: fit-content;
}


.navbar {
  width: 100%;
  max-width: 1440px;
  z-index: 10;
}


