@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/faktum-test');




body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #1f1e1e;
}

p, span, a, div {
    color: #fff;
    font-family: "Faktum test", sans-serif;
    text-rendering: optimizeLegibility;
    font-weight: 300;
}

h1, h3, h4 {
    color: #fff;
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
}

a {
    text-decoration: none
}



@tailwind base;
@tailwind components;
@tailwind utilities;