.asset__items {
    position: relative;
}

.asset__dropdown {
    position: absolute;
    right: 7%;
    bottom: 23%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 16px;
    justify-content: space-between;
    height: 152px;
    width: 140px;
    border-radius: 8px;
    background-color: #35373e;
}

.asset__dropdown span {
    display: flex;
    cursor: pointer;
}

.asset__dropdown span img {
    margin-right: 10px;
}


.asset__item {
    padding: 20px 25px;
    border-radius: 16px;
    background-color: #2c3137;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.asset__detail {
    display: flex;
    flex-direction: column;
    margin-right: 13.5%;
    width: 50px;
}

.asset__img {
    height: 40px;
    width: 40px;
    margin-right: 8px;
}

.asset__name {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.asset__short {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    color: #a0abbb;
}

.asset__balance {
    font-size: 16px;
    font-weight: 500;
    margin-right: 17%;
}

.asset__change {
    font-weight: 500;
    font-stretch: normal;
    margin-right: 13%;
}

.asset__change.loss {
    color: #EF4444;
}

.asset__change.gain {
    color: #10B981;
}

.asset__price {
    margin-right: 5%;
}